<footer> 
    <div class="logo">
            <p>Salades<span>Bio</span></p> 
    </div>
    <div class="footer-left">
       
        <div class="nav-footer"> 
            <a routerLink="">Accueil</a>
            <a routerLink="/menu">Menu</a>
            <a routerLink="/about">A propos</a>
            <a routerLink="/contact">Nous contacter</a>
        </div>
    </div>

    <div class="footer-middle">

        <p>1 rue de Paris</p>
        <p>75000 PARIS</p>
        <p>01 01 01 01 01</p>
        <p>SaladesBio@gmail.com</p>
    </div>

    <div class="footer-right">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
   

</footer>
