header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
    font-size: var(--size-navbar);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo p {
    font-size: var(--size-logo);
}

.logo p span {
    color: var(--color-primary);
}

nav {
    display: flex;
    gap: 4rem;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a.active-link {
    color: var(--color-primary);
}