<header>
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="Logo" height="50rem" width="50rem">
        <p>Salades<span>Bio</span></p>
    </div>

    <nav>
        <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
        <a routerLink="/menu" routerLinkActive="active-link">Menu</a>
        <a routerLink="/about" routerLinkActive="active-link">A propos</a>
        <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </nav>
</header>
